#------------------------------------------------------------------------
#
# Global config file
#
# Prefixing an option (except for ROOTPASS) with "DFL_" will set the 
# default value and show the dialog enabling the user to tweak/confirm 
# the value, while options without the prefix will be set without user 
# interaction.
# Options left unset will be interactively requested during the make
# process.
# To disable an option leaving it blank set it to 'SKIP'.
#
# CT-specific settings can be set in <ct>/config files for each 
# specific CT.
#
# It is not recomended to set passwords here or in other config files.
#
#
#------------------------------------------------------------------------

# Bootsrap configuration...
#
# Usually this is the default bridge created in Proxmox, so there is no 
# need to touch this.
BOOTSTRAP_BRIDGE=0


# CT interface bridge configuration.
#
# These are set to the bridge number (the number in 'vmbr#') used for 
# a specific network.
#
# NOTE: on a clean Proxmox install ADMIN is pre-setup, we will use it 
# 	for bootstrapping and reconfigure it later.
# NOTE: to make things simpler it is recommmended to number bridges 
# 	connecting to physical ports the same as ports and virtual 
# 	bridges with numbers greater than X (10 in the example below)
#
# Example:
# 	WAN_BRIDGE=0
#	ADMIN_BRIDGE=3
#	LAN_BRIDGE=10
#
ADMIN_BRIDGE=_admin
WAN_BRIDGE=_wan
LAN_BRIDGE=_lan


# NOTE: it is simpler to statically assign these than to configure dhcp
# 	plus port forewarding to the dynamically assigned IP.
DFL_WAN_IP=192.168.1.101/24
DFL_WAN_GATE=192.168.1.252

DFL_WAN_SSH_IP=192.168.1.102/24


# Domain and email configuration
#
DOMAIN=example.com
EMAIL=user@example.com


# Web app/service domain configuration
#
# Here two optional variables are provided per service:
# - <SERVICE>_DOMAIN=...
# 	Overrides the $DOMAIN option above for <SERVICE>
# - <SERVICE>_SUBDOMAIN=...
# 	Sets the subdomain of $DOMAIN (or $<SERVICE>_DOMAIN) for <SERVICE>
#

# Nextcloud
#NEXTCLOUD_DOMAIN=
NEXTCLOUD_SUBDOMAIN=nc.

# Gitea
#GITEA_DOMAIN=
#GITEA_SUBDOMAIN=git.


# Extra options passed to each CT created.
#
# This can be used for passing in ssh keys, etc...
#
# see: 
# 	man pct
#
# Example:
# 	DFL_PCT_EXTRA="--ssh-public-keys /path/to/autohrized_keys"
#
DFL_PCT_EXTRA=SKIP



#------------------------------------------------------------------------
#
# Options afetr this point are sane defaults and in the general case 
# can be left as-is.
#

# host
HOST_ADMIN_IP=10.0.0.254/24

# Nameserver
NS_HOSTNAME=ns
NS_ID=100
NS_ADMIN_IP=10.0.0.1/24
NS_LAN_IP=10.1.1.1/24

RESERVE_NS_ID=101
TEMPLATE_NS_ID=200

# Gateway / Reverse proxy
GATE_HOSTNAME=gate
GATE_ID=110
GATE_ADMIN_IP=10.0.0.2/24
GATE_LAN_IP=10.1.1.2/24

RESERVE_GATE_ID=111
TEMPLATE_GATE_ID=210


#------------------------------------------------------------------------
